<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000163153346-niqbh3h12lh50ukindqg2jk5do13m2at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000163153346-niqbh3h12lh50ukindqg2jk5do13m2at</string>
	<key>API_KEY</key>
	<string>AIzaSyDjxRDIuTc6ErANoftU-FtgLBSUxMlLCeA</string>
	<key>GCM_SENDER_ID</key>
	<string>1000163153346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.sixamMartDelivery</string>
	<key>PROJECT_ID</key>
	<string>ammart-8885e</string>
	<key>STORAGE_BUCKET</key>
	<string>ammart-8885e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000163153346:ios:2c8480f7e122653606b25b</string>
</dict>
</plist>